<main role="main">

        <hr class="featurette-divider">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">שירותים במכון</h1>
            <p class="lead text-muted">אם אתם מחפשים קוסמטיקאית בראשון לציון , אתם מוזמנים להגיע אלי, אל הקליניקה שלי. אצלי תמצאו מרחב נינוח ונעים וכמובן כתובת מקצועית, שתעזור לכם ותעמוד לרשותכם. כתובת שבה תקבלו מענה רפואי, המתבסס על טיפולים קוסמטיים מיוחדים, שבחלקם מתקדמים במיוחד. אתם לא מוכרחים להתפשר על טיפולים שאינם מתאימים לכם הכתובת הנכונה עבורכם זה כאן , אצלי תקבלו בדיוק את הטיפול הקוסמטי שאתם זקוקים לו.</p>
            <p>
              <a href="contact" class="btn btn-primary my-2">יצירת קשר</a>
            </p>
          </div>
        </section>

        <hr class="featurette-divider">

        <div class="album py-5 bg-light">
          <div class="container">

            <div class="row">

			  <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
				  <p class="card-text text-center">מניקור</p>
                    <p class="card-text text-center">מניקור הינו טיפול קוסמטי ייעודי לידיים ולציפורניים, טיפול שלרוב מתבצע בסלון היופי או אצל קוסמטיקאית פרטית. טיפול זה דורש רמת מיומנות גבוהה, וכולל עיצוב הציפורניים וטיפול בסיסי ועמוק בעור שסביב הציפורניים, עור מת שמשפיע על האסתטיקה של הציפורן ושל כל כף היד.
טיפול מניקור מלא יכול לכלול הרבה מאוד אלמנטים, מהסרת העור המת, דרך טיפולים בשמנים שונים, עיסוי מלא של היד, ועד שימת פוליש על הציפורניים. הבחירה בטיפול צריכה להיות מתואמת עם הקוסמטיקאית המטפלת, בכדי שתקבלו בדיוק את מה שאתם רוצים, לטיפול המלא ביותר
</p>
                  </div>
                </div>
              </div>

			 <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
				  <p class="card-text text-center">פדיקור</p>
                    <p class="card-text text-center">פדיקור רפואי בראשון לציון אצלי בקליניקה מתחיל עם טבילת כפות הרגליים בגיגית עם מים פושרים ולאחר מכן שיוף העור והסרת העור הקשה. בהמשך טיפול נקודתי בבעיה שממנה סובלים, כמו ציפורן חודרנית, יבלת ועוד. במהלך הטיפול נעזרת הפדיקוריסטית במשחות מיוחדות ותכשירים העוזרים להתמודד עם הבעיה בצורה הטובה ביותר. היא מבצעת את ההליך עצמו בצורה עדינה כדי שלא לגרום לדימומים או סיבוכים מיותרים וגם בהתאם לבעיה עצמה..</p>
                  </div>
                </div>
              </div>

			 <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
				  	<p class="card-text text-center">טיפול פנים</p>
                    <p class="card-text text-center">כשמדברים על טיפול פנים בסיסי מתכוונים בדרך כלל לטיפול המתמקד בפנים, כפי שמעיד שמו, וכולל ניקוי העור באמצעות תכשירים קוסמטיים מיוחדים, המתאימים במיוחד לשם כך. כמו, למשל, סבון לניקוי פנים, קרם לחות שנועד להעניק לעור הפנים לאחר הניקוי את הלחות הנדרשת לו ועוד. טיפול זה הוא טיפול בסיסי ביותר, טיפול שנותן גם תחושה נעימה יותר ומראה זוהר לעור הפנים. אפשר לבצע אותו לפני אירוע או אחת למספר חודשים במסגרת שגרת הטיפוח הקבועה. לטיפול יתרונות רבים, ובעיקר יכולתו לחדש את העור, שכן עם הניקוי נפטרים מהתאים היבשים ו”מפנים” מקום לחדשים. את הטיפול מומלץ לעבור באופן תדיר בכל כמה חודשים, וכל זאת כדי לשמור על מראה העור, ובמיוחד לאור הנזקים הרבים אליהם הוא נחשף, כמו נזקי קרני השמש, זיהום האוויר ועוד ועוד.</p>
                  </div>
                </div>
              </div>


			  <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text text-center">אקנה</p>
                    <p class="card-text text-center">אקנה נחשבת לאחת ממחלות עור הפנים הנפוצות ביותר, ובעיקר בגיל ההתבגרות. מחלת האקנה, שמופיע בדרך כלל בגיל הנעורים, מלווה בפצעונים רבים וגם בתחושת אי נוחות, הנלוות אליה. היא עשויה גם להופיע בגילאים מבוגרים יותר ובעוצמות שונות. ישנם היום טיפולים מתאימים, שיכולים לעזור עם מקרים של אקנה וגם תכשירים קוסמטיים מיוחדים, המתאימים למי שסובל מכך..</p>
                  </div>
                </div>
              </div>

			 <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
				  <p class="card-text text-center">פילינג</p>
                  <p class="card-text text-center">יש נשים שחושבות שאיפור יכול להסתיר הכל. במידה מסוימת זה נכון, איפור יכול להסתיר את הכתמים השונים שעל העור, אך בפועל הכתמים רק הופכים להיות עמוקים ובולטים יותר. טיפול פילינג כימי מאפשר לך לעשות “אתחול מחדש” של העור, ולהתחיל לגדל שכבה חדשה של תאי עור על הפנים, ולהיזכר איך היו הרבה לפני שהופיעו הכתמים.
בנוסף לכך טיפול פילינג, אם הוא מתבצע בצורה הנכונה ועל ידי חומרים איכותיים, יכול לסייע לך לטפל גם בחלק מהקמטוטים הנמצאים בשכבה החיצונית של העור, או בזו שמתחתיה. קמטים שהגיעו יותר עמוק ניתן להעלים רק באמצעות טכנולוגיות מתקדמות יותר, אך את הקמטים הקטנים, אלה שרואים רק מקרוב אפשר להעלים בצורה נפלאה עם טיפול הפילינג
</p>
                 </div>
                </div>
              </div>

			 <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1611a0671dd%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1611a0671dd%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text text-center">פטרת הציפורן</p>
                    <p class="card-text text-center">פטרת הינו מצב שכיח אשר נגרם בעיקר ע"י קבוצת פטריות הנקראות "דרמטופיטים" הסיבות לכך יכולות להיות: גנטיות, גיל, כשל במערכת החיסונית, סטרס, וסביבה לחה. הטיפול מתבצע ע"י פגיעה ממוקדת בפטריה, הרס של קבוצת הפיטריות, חידוש מרקם הציפורן וצמיחה של ציפורן חדשה ובריאה, טיפול זה אינו פולשני ואין לו תופעות לוואי.</p>
                  </div>
                </div>
              </div>




			</div>
          </div>
        </div>

        <hr class="featurette-divider">

      </main>
