<div class="gallery-container">
  
      <hr class="featurette-divider">
      
      <h1>גלרייה</h1>
  
      <p class="page-description text-center">בואו להתרשם מעבודה מקצועית ולהנות מיחס אישי</p>
      
      <div class="tz-gallery">
  
          <div class="row">
  
              <div class="col-sm-12 col-md-4">
                  <a class="lightbox" href="../../assets/images/DSC_2970.JPG">
                      <img src="../../assets/images/gallery/DSC_2970.JPG" alt="Bridge">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="../../assets/images/park.jpg">
                      <img src="../../assets/images/gallery/manicure-1365552_1920.jpg" alt="Park">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="../../assets/images/tunnel.jpg">
                      <img src="../../assets/images/gallery/massage-therapy-1612308_1920.jpg" alt="Tunnel">
                  </a>
              </div>
              <div class="col-sm-12 col-md-8">
                  <a class="lightbox" href="../../assets/images/traffic.jpg">
                      <img src="../../assets/images/gallery/nail-art-2688470_1920.jpg" alt="Traffic">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="../../assets/images/coast.jpg">
                      <img src="../../assets/images/gallery/DSC_2976.JPG" alt="Coast">
                  </a>
              </div> 
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="../../assets/images/gallery/nail-art-2688565_1920.jpg">
                      <img src="../../assets/images/gallery/nail-art-2688565_1920.jpg" alt="Rails">
                  </a>
              </div>
  
          </div>
  
      </div>
  
  </div>
 
  <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script>
      baguetteBox.run('.tz-gallery');
  </script>