a.nav-link{
    color: rgb(88, 88, 88);
    padding-right: 20px;
    margin-right:20px;
    font-size: 15px;
}

a:hover.nav-link{
    color: rgb(251, 255, 6);
}

.navbar-brand{
    color: rgb(88, 88, 88);
    font-size: 30px; 
}

footer{
    bottom: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #58575D;
    color: #FFEDB4;
    text-align: center;
    display: block;
}

a{
    color: #FFEDB4; 
}

// colors of website:
// darkgray=#58575D
//lightgray= #9E999D
//blue= 	#B8D3CC
//light blue= 	#DCF1E4
//yellow =#FBD912
//light yellow = #FFEDB4