<hr class="featurette-divider">

<div class="row">
    <ul class="product-list-vertical">

        <li>

            <a href="#" class="product-photo">
                <img src="assets/images/products/iphone6.jpg" height="160" alt="" />
            </a>

            <div class="product-details">
                
                <h2><a href="#">מי פנים</a></h2>

                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

                <button>Buy Now!</button>
                <p class="product-price">59.00</p>
            </div>

        </li>

        <li>

            <a href="#" class="product-photo">
                <img src="assets/images/products/htc-one.jpg" height="160" alt="" />
            </a>

            <div class="product-details">
            
                <h2><a href="#">משייף איכותי</a></h2>

                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

                <button>Buy Now!</button>
                <p class="product-price">99.00</p>
            </div>

        </li>

    </ul>
</div>

<hr class="featurette-divider">