<main role="main">
        
            <hr class="featurette-divider">

            <section class="jumbotron text-center">
                    <div class="container">
                      <h1 class="jumbotron-heading">לקוחות ממליצים</h1>
                      <p class="lead text-muted"> אין כמו לשמוע מאנשים שעברו אצלנו טיפולים ויצאו מרוצים.</p>
                      <p>
                        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
                      </p>
                    </div>
            </section>

            <hr class="featurette-divider">
        
            <div class="container marketing">
                
                        <!-- Three columns of text  -->
                        <div class="row">
                          <div class="col-lg-4">
                            <img class="rounded-circle" src="../../assets/images/cst/people-2562010_1920.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>רינה כהן</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">להמלצה המלאה</a></p>
                          </div><!-- /.col-lg-4 -->
                          <div class="col-lg-4">
                            <img class="rounded-circle" src="../../assets/images/cst/smartphone-569076_1920.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>אלישבע עמר</h2>
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">להמלצה המלאה</a></p>
                          </div><!-- /.col-lg-4 -->
                          <div class="col-lg-4">
                            <img class="rounded-circle" src="../../assets/images/cst/carneval-3109204_1920.png" alt="Generic placeholder image" width="140" height="140">
                            <h2>פנינה שטרן</h2>
                            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">להמלצה המלאה</a></p>
                          </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
        
                        <!-- Three columns of text  -->
                        <!-- <div class="row">
                                <div class="col-lg-4">
                                  <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                                  <h2>Heading</h2>
                                  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                                <!--/div><!-- /.col-lg-4 -->
                                <!-- <div class="col-lg-4">
                                  <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                                  <h2>Heading</h2>
                                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                                <!--/div><!-- /.col-lg-4 -->
                                <!-- <div class="col-lg-4">
                                  <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                                  <h2>Heading</h2>
                                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                                <!--/div><!-- /.col-lg-4 -->
                              <!--/div><!-- /.row -->
            </div>

            <hr class="featurette-divider">
        
        </main>